@model WebAdvert.Web.Models.Accounts.LoginModel

<div class="row">
    <div class="col-md-7">
        <h5 class="alert alert-info">
            <img src="http://www.icon100.com/up/2625/128/login.png" style="width: 32px;"/>
            Login using your email address and password
        </h5>
        <form method="post" asp-controller="Accounts" asp-action="Login">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" ></span>
            </div>
            
            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="RememberMe" />
                    @Html.DisplayName("Remember Me")
                </div>
            </div>

            <button type="submit" >Login</button>
            <div class="alert alert-info mt-5">
                Not a member yet? <a asp-action="Signup" asp-controller="Accounts" class="btn">Click here to Sign Up!</a>
            </div>
        </form>
    </div>
</div>