@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model IEnumerable<WebAdvert.Web.Models.Home.SearchViewModel>

<div class="row">
    <div class="col-md-10">
        @foreach(var item in Model)
        { 
            <div class="border rounded border-info p-1 w-100">
                <img src="http://www.iconninja.com/files/180/701/315/search-results-icon.png"
                     style="width: 24px;height: 24px;"/>
                <a class="btn-link" href="@item.Id"> @item.Title</a>
            </div>
        }
    </div>
</div>
