<div class="modal" tabindex="-1" role="dialog" id="detailsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Advertisement Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="border-dark rounded advertDetailBox" id="advertDetailBox">
                    <div style="text-align:center;" >
                        <img id="detailImage" class="box-shadow"/>
                    </div>
                    <h4 id="detailTitle"></h4>
                    <p id="detailDesc"></p>
                    <p id="detailPrice"></p>
                </div>
            </div>
        </div>
    </div>
</div>