/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Actor');
@import url('https://fonts.googleapis.com/css?family=Niramit');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Niramit;
    font-size: large;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.searchBox {
    height: 90px;
    line-height: 90px;
    text-align: center;
    border: 1px dashed #f69c55;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 5%;
    height: 200px;
    float:left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.card img {
    height: 200px;
}

.w-32 {
    width: 32px;
    height: auto;
}

.w-24 {
    width: 24px;
    height: auto;
}

.nav-button-border {
    font-family: 'Actor', sans-serif;
    font-size: large;
    font-weight: bold;
    color:navy;
    margin-right: 10px;
    margin-top:5px;
}
.nav-button-border:hover {
    border: 1px solid olive;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}


.navbar-brand {
    font-family: Orbitron;
    font-size: x-large;
}

#whySignup{
    padding-top: 10px;
    font-size: large;
}
#whySignup {
    margin-bottom: 30px;
}